<ion-view title="{{post.title}}" id="page8" class=" ">

    <ion-content padding="true" class="has-header">
        <div class="list card " id="android-card22">
            <div class=" item item-image">
                <img ng-src="{{ post.pic || 'img/0jyxBAITCmZ4bi1lCsYM_android.jpg'}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;" ng-click="updatePic()">
            </div>
            <div class="item item-body " id="android-list-item-container3">
                <p id="android-markdown2" class=" ">{{post.desc}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>